snippet # #
	#${1:id} {
	  ${2}
	}
snippet cb cb
	clear: both;${1}
snippet cl cl
	.${1:class} {
	  ${2:color: pink;}
	}
snippet db db
	display: block;${1}
snippet fs fs
	font-size: ${1};
snippet tag tag
	${1:tag} {
	  ${2:color: pink;}
	}
snippet w w
	width: ${1:100px};
