snippet a a
	And ${1:} 
snippet b b
	Background:
	  ${1}
snippet e e
	Examples: ${1:}
	  
snippet f f
	Feature: ${1:name}
		${2}
snippet g g
	Given ${1:} 
snippet s s
	Scenario: ${1:}
snippet so so
	Scenario Outline: 
snippet t t
	Then ${1:} 
snippet w w
	When ${1:}
