snippet a "a"
And ${1:} 
endsnippet
snippet b "b"
Background:
  ${1}
endsnippet
snippet e "e"
Examples: ${1:}
  
endsnippet
snippet f "f"
Feature: ${1:name}
	${2}
endsnippet
snippet g "g"
Given ${1:} 
endsnippet
snippet s "s"
Scenario: ${1:}
endsnippet
snippet so "so"
Scenario Outline: 
endsnippet
snippet t "t"
Then ${1:} 
endsnippet
snippet w "w"
When ${1:}
endsnippet
