snippet _ lodash chain
	_(${1:object}).${2:method}(${3}).value()
snippet ifs import * as fs
	import * as fs from 'fs';
snippet ild import lodash
	import _ from 'lodash';
snippet i import from
	import ${2:{${3}}} from '${1}';
snippet ex expect
	expect(${1}).to.eql(${2:'${3}'});
snippet aex await expect
	await expect(${1}).to.eventually.eql(${2:'${3}'});
snippet aw async wrapper function
	(async () => {
		${1}
	})();
snippet des describe
	describe('${1}', () => {
		${2}
	});
snippet test test
	test('${1}', async () => {
		${2}
	});
snippet sw switch
	switch(${1}) {
		case(${2}): {
			${3}
			break;
		}
		case(${4}): {
			${5}
			break;
		}
		default: {
			${6}
		}
	}
snippet be beforeEach
	beforeEach(async () => {
	  ${1}
	});
snippet af async () => {}
	async ${1:(${2})} => {
		${3}
	}
snippet tne throw new Error()
	throw new ${1:Error}("${2}")
snippet fo for (const value of values)
	for (const ${1} of ${2:$1s}) {
		${3}
	}
snippet fi for (const value in values)
	for (const ${1} in ${2:$1s}) {
		${3}
	}
snippet cf const name = () => {}
	const ${1} = (${2}) => {
		${3}
	}
snippet to typeof value === ''
	typeof ${1} === '${2:string}'
snippet a a
	alert(${1});
snippet anon anon
	function(${1}) { 
	  ${2}
	};
snippet as as
	alert("${1}");
snippet attr attr
	${1:obj}.attr('${2:attribute}', '${3:value}')${4}
snippet attrm attrm
	${1:obj}.attr({'${2:attr1}': '${3:value1}', '${4:attr2}': '${5:value2}'})${6}
snippet desc desc
	describe("${1}", function(){
		${2}	
	});
snippet ea ea
	each(function(${1:item}) {
	  ${2}
	})${3,;}
snippet each each
	each(function(index, ${1:element}) {
		${2:$($1)}
	});
snippet f f w
	function(${1}) {
		${2}
	}
snippet fb fb
	function() {
		${1}
	}.bind(${2:this})${3}
snippet for for
	for (var ${1}=0; $1 < ${2}.length; $1++) {
		${3}
	};
snippet if if () {}
	if (${1}) {
		${2}
	}
snippet ife if () {} else {}
	if (${1}) {
		${2}
	} else {
		${3}
	}
snippet it it
	it('${1}', async () => {
		${2}
	});
snippet its its
	it("should ${1}", function(){
	  ${2}
	});
snippet j j
	$('${1}')${2}
snippet load load
	${1:obj}.load(function() {
		${2:// Act on the event}
	});
snippet met met
	${1:method_name}: function(${2}){
	  ${3}
	}${4:, }
snippet pe pe
	${1:property}: function(event) {
	  ${2:body}
	}
snippet pf pf
	${1}: function(${2}) {
	  ${3}
	}${4:,}
snippet this this
	$(this)${1}
snippet timeout timeout
	setTimeout(function() { ${1} }, ${2:10});
