snippet hl "hl"
{% highlight ${1:ruby} %}
${2}
{% endhighlight %}
endsnippet

snippet a "[text](link)"
[${1:${VISUAL}}](${2:$1})
endsnippet


snippet more "<!--more-->" !b
<!--more-->
endsnippet

snippet head "post head" !b
---
layout: post
title: "$1"
#published: false
tags: 
- ${2:one}
- ${3:two}
---
endsnippet
