snippet br "br"
border-radius: ${1:3px}
endsnippet
snippet db "db"
display: block${1:}
endsnippet
snippet dn "dn"
display: none${1}
endsnippet
snippet fl "fl"
float: left${1}
endsnippet
snippet fr "fr"
float: right${1}
endsnippet
snippet fs "fs"
font-size: ${1}px
endsnippet
snippet h "h"
height: ${1}px
endsnippet
snippet oya "oya"
overflow-y: auto${1}
endsnippet
snippet pa "pa"
position: absolute${1}
endsnippet
snippet w "w"
width: ${1}px
endsnippet
