snippet br br
	border-radius: ${1:3px}
snippet db db
	display: block${1:}
snippet dn dn
	display: none${1}
snippet fl fl
	float: left${1}
snippet fr fr
	float: right${1}
snippet fs fs
	font-size: ${1}px
snippet h h
	height: ${1}px
snippet oya oya
	overflow-y: auto${1}
snippet pa pa
	position: absolute${1}
snippet w w
	width: ${1}px
