snippet tag "tag"
${1:tag} {
  ${2:color: pink;}
}
endsnippet
snippet fs "fs"
font-size: ${1};
endsnippet
snippet cl "cl"
.${1:class} {
  ${2:color: pink;}
}
endsnippet
snippet w "w"
width: ${1:100px};
endsnippet
snippet # "#"
#${1:id} {
  ${2}
}
endsnippet
snippet db "db"
display: block;${1}
endsnippet
snippet cb "cb"
clear: both;${1}
endsnippet
