snippet	cc "code"
\`\`\` ${1}
\`\`\`
endsnippet
snippet rb "rb"
\`\`\` ruby
${1}
\`\`\`
endsnippet

snippet sl "sl"
!SLIDE ${1}
endsnippet

snippet ghi "github issue link"
[#${1}](`!v Snippet_Repo()`/issues/$1)
endsnippet
