snippet s "s"
select ${1}
endsnippet
snippet l "l"
limit ${1:100}
endsnippet
snippet g "g"
group by ${1}
endsnippet
snippet w "w"
where ${1}
endsnippet
snippet lj "lj"
left join ${1} on ${2}
endsnippet
snippet select "select"
select 
*
from ${1:}
where 1=1
limit 10;
endsnippet
snippet f "f"
from ${1}
endsnippet
snippet sd "sd"
select distinct ${1}
endsnippet
snippet o "o"
order by ${1}
endsnippet
