[submodule "pack/all/start/vim-javascript"]
	path = pack/all/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/all/start/vim-rails"]
	path = pack/all/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/all/start/nerdtree"]
	path = pack/all/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/all/start/nerdcommenter"]
	path = pack/all/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "pack/all/start/vim-fugitive"]
	path = pack/all/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/all/start/vim-abolish"]
	path = pack/all/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "pack/all/start/delimitMate"]
	path = pack/all/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/all/start/endwise"]
	path = pack/all/start/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "pack/all/start/surround"]
	path = pack/all/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/all/start/gist"]
	path = pack/all/start/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "pack/all/start/rake"]
	path = pack/all/start/rake
	url = https://github.com/tpope/vim-rake.git
[submodule "pack/all/start/ruby"]
	path = pack/all/start/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "pack/all/start/haml"]
	path = pack/all/start/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "pack/all/start/mustache"]
	path = pack/all/start/mustache
	url = https://github.com/juvenn/mustache.vim.git
[submodule "pack/all/start/markdown"]
	path = pack/all/start/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "pack/all/start/repeat"]
	path = pack/all/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/all/start/git"]
	path = pack/all/start/git
	url = https://github.com/tpope/vim-git.git
[submodule "pack/all/start/camelcasemotion"]
	path = pack/all/start/camelcasemotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "pack/all/start/yankring"]
	path = pack/all/start/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "pack/all/start/bufexplorer"]
	path = pack/all/start/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "pack/all/start/splitjoin"]
	path = pack/all/start/splitjoin
	url = git://github.com/AndrewRadev/splitjoin.vim.git
[submodule "pack/all/start/ack"]
	path = pack/all/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/all/start/bundler"]
	path = pack/all/start/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "pack/all/start/rvm"]
	path = pack/all/start/rvm
	url = https://github.com/tpope/vim-rvm
[submodule "pack/all/start/webapi"]
	path = pack/all/start/webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule "pack/all/start/rsi"]
	path = pack/all/start/rsi
	url = https://github.com/tpope/vim-rsi
[submodule "pack/all/start/ultisnips"]
	path = pack/all/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/all/start/dispatch"]
	path = pack/all/start/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/all/start/file-line"]
	path = pack/all/start/file-line
	url = https://github.com/bogado/file-line.git
[submodule "pack/all/start/projectionist"]
	path = pack/all/start/projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "pack/all/start/vim-tags"]
	path = pack/all/start/vim-tags
	url = https://github.com/szw/vim-tags
[submodule "pack/all/start/indexed-search"]
	path = pack/all/start/indexed-search
	url = https://github.com/henrik/vim-indexed-search
[submodule "pack/all/start/auto-pairs"]
	path = pack/all/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/all/start/dadbod"]
	path = pack/all/start/dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "pack/all/start/jsx"]
	path = pack/all/start/jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "pack/all/start/vim-jsx-typescript"]
	path = pack/all/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule "pack/all/start/typescript-vim"]
	path = pack/all/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/all/start/vim-test"]
	path = pack/all/start/vim-test
	url = https://github.com/janko/vim-test
[submodule "pack/all/start/ale"]
	path = pack/all/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/all/start/neoyank"]
	path = pack/all/start/neoyank
	url = https://github.com/Shougo/neoyank.vim.git
[submodule "pack/all/start/vim-gh-line"]
	path = pack/all/start/vim-gh-line
	url = git@github.com:ruanyl/vim-gh-line.git
[submodule "pack/all/start/solidity"]
	path = pack/all/start/solidity
	url = https://github.com/tomlion/vim-solidity
[submodule "pack/all/start/fzf"]
	path = pack/all/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/all/start/fzf.vim"]
	path = pack/all/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/all/start/lightline"]
	path = pack/all/start/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "pack/all/start/vim-inkpot-refilled"]
	path = pack/all/start/vim-inkpot-refilled
	url = https://github.com/Chromosore/vim-inkpot-refilled

