[submodule "snippets"]
	path = snippets
	url = git@github.com:bogdan/snipmate-snippets.git
[submodule "bundle/dbext"]
	path = bundle/dbext
	url = gh:/bogdan/dbext
[submodule "bundle/vim-liquid"]
	path = bundle/vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
